<form [formGroup]="form" (ngSubmit)="save()" class="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" required />
  </mat-form-field>

  <input
    #fileInput
    type="file"
    hidden
    accept="image/png, image/jpeg"
    (change)="onFileSelected($event)"
  />

  <button mat-stroked-button type="button" (click)="fileInput.click()">Choose photo</button>

  @if (imagePreview) {
    <img [src]="imagePreview" width="150" style="margin-top: 10px" />
  }

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
</form>
