@use '../../../styles/mixins' as *;

:host {
  height: 100vh;
}

main {
  @include flex($align: flex-start);
  height: 100%;
  position: relative;
}
app-preview {
  position: sticky;
  top: 85px;
  z-index: 1;
}
