<!-- @let educationData = education$ | async;

<div class="crossfade-container">
  <div class="skeleton-layer" [class.hidden]="educationData">
    <ngx-skeleton-loader
      count="2"
      appearance="line"
      [theme]="{
        height: '32px',
        marginBottom: '12px',
        width: '100%',
      }"
    >
    </ngx-skeleton-loader>
  </div>

  @if (educationData) {
    <div class="content-layer">
      <app-profile-block [blockData]="educationData" [blockType]="'education'"> </app-profile-block>
    </div>
  }
</div> -->

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-grid">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Degree</mat-label>
      <input matInput formControlName="degree" />
      @if (form.controls.degree.invalid && form.controls.degree.touched) {
        <mat-error> Degree is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Institution</mat-label>
      <input matInput formControlName="institution" />
      @if (form.controls.institution.invalid && form.controls.institution.touched) {
        <mat-error> Institution is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Start date</mat-label>
      <input matInput formControlName="startDate" />
      @if (form.controls.startDate.invalid && form.controls.startDate.touched) {
        <mat-error> Start date is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>End date</mat-label>
      <input matInput formControlName="endDate" />
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput rows="3" formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <button mat-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
</form>
