<main class="content">
  <h1>Welcome to our App.</h1>
  <p>Please sign-up to start using our App.</p>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email/Username</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>

    @if (errorMessage()) {
      <div class="info">
        <mat-icon fontIcon="info" />
        {{ errorMessage() }}
      </div>
    }
    @if (isSubmissionInProgress()) {
      <div class="info">
        <mat-spinner [diameter]="22" />
        Signing-up...
      </div>
    }
    <button type="submit" matButton="filled" aria-label="Sign-Up">Sign-Up</button>
  </form>
  <button matButton="filled" aria-label="Sign-Up with Google" (click)="onSignInWithGoogle()">
    Sign-Up with Google
  </button>
  <p>You have an account</p>
  <button
    matButton="tonal"
    aria-label="Sign-In"
    [routerLink]="['/auth/sign-in']"
    class="d-block auth-button"
  >
    Sign-In
  </button>
</main>
