<main class="content">
  <h1>{{ 'AUTH.WELCOME' | translate }}</h1>
  <p>{{ 'AUTH.PLEASE_SIGN_IN' | translate }}</p>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'AUTH.PASSWORD' | translate }}</mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>

    @if (errorMessage()) {
      <div class="info">
        <mat-icon fontIcon="info" />
        {{ errorMessage() }}
      </div>
    }
    @if (isSubmissionInProgress()) {
      <div class="info">
        <mat-spinner [diameter]="22" />
        {{ 'AUTH.SIGNING_IN' | translate }}
      </div>
    }
    <button type="submit" matButton="filled" aria-label="Sign-Up">
      {{ 'AUTH.SIGN_UP' | translate }}
    </button>
  </form>
  <button matButton="filled" aria-label="Sign-Up with Google" (click)="onSignInWithGoogle()">
    {{ 'AUTH.SIGN_IN_WITH_GOOGLE' | translate }}
  </button>
  <p>{{ 'AUTH.HAVE_ACCOUNT' | translate }}</p>
  <button
    matButton="tonal"
    aria-label="Sign-In"
    [routerLink]="['/auth/sign-in']"
    class="d-block auth-button"
  >
    {{ 'AUTH.SIGN_IN' | translate }}
  </button>
</main>
