@let blockData = blockData$ | async;

@defer (when blockData !== null) {
  @if (blockData && blockData.length > 0) {
    @for (item of blockData; track item.id) {
      <div class="item">
        <app-profile-block-item [itemData]="item" [blockType]="blockType()">
        </app-profile-block-item>

        <div class="buttons">
          <button matIconButton aria-label="Edit item" type="button" (click)="editItem(item.id)">
            <mat-icon>edit</mat-icon>
          </button>

          <button
            matIconButton
            aria-label="Delete item"
            type="button"
            (click)="removeItem(item.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <mat-slide-toggle (change)="onToggle(item.id, $event.checked)" [checked]="item.isChecked">
          </mat-slide-toggle>
        </div>
      </div>
    }
  } @else {
    <h2>{{ 'CREATOR.NO_DATA' | translate }}</h2>
    <p>{{ 'CREATOR.PLEASE_ADD' | translate }}</p>
  }
  <button matButton="filled" aria-label="Add item" type="button" (click)="addItem()">
    {{ 'CREATOR.ADD' | translate }}
  </button>
} @placeholder {
  <p>Loading data...</p>
} @loading {
  <p>Loading...</p>
}
