@if (skillTitle()) {
  <div class="skill-chip">
    {{ skillTitle() }}
  </div>
} @else if (photoData()) {
  <div class="photo-block">
    <div class="photo-title">
      {{ photoData()!.title }}
    </div>

    <img class="photo-preview" [src]="photoData()!.imageBase64" alt="photo" />
  </div>
} @else {
  <div class="block-fields">
    @for (entry of itemData() | keyvalue; track entry.key) {
      @if (
        entry.key !== 'id' &&
        entry.key !== 'isChecked' &&
        entry.value !== null &&
        entry.value !== undefined &&
        entry.value !== ''
      ) {
        <div class="field-row">
          <span class="field-label">{{ entry.key }}</span>
          <span class="field-value">{{ entry.value }}</span>
        </div>
      }
    }
  </div>
}
