@use '../../../../../styles/mixins' as mixins;

:host {
  width: 100%;
  @include mixins.flex($direction: column, $align: center, $gap: 10px);
}

div {
  border-left: 1px solid var(--mat-sys-on-error-container);
  padding-left: 10px;
}
h3 {
  color: var(--mat-sys-primary);
  text-align: center;
}
