@if (experience$ | async; as data) {
  <app-profile-block [blockData]="data" [blockType]="'experience'"> </app-profile-block>
} @else {
  <ngx-skeleton-loader
    count="3"
    appearance="line"
    [theme]="{
      height: '48px',
      marginBottom: '16px',
      width: '100%',
    }"
  >
  </ngx-skeleton-loader>
}

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-grid">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Position</mat-label>
      <input matInput formControlName="position" />
      @if (form.controls.position.invalid && form.controls.position.touched) {
        <mat-error> Position is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Company</mat-label>
      <input matInput formControlName="company" />
      @if (form.controls.company.invalid && form.controls.company.touched) {
        <mat-error> Company is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Start date</mat-label>
      <input matInput formControlName="startDate" />
      @if (form.controls.startDate.invalid && form.controls.startDate.touched) {
        <mat-error> Start date is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>End date</mat-label>
      <input matInput formControlName="endDate" />
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput rows="3" formControlName="description"></textarea>
      @if (form.controls.description.invalid && form.controls.description.touched) {
        <mat-error> Last name is required </mat-error>
      }
    </mat-form-field>
  </div>
  <button mat-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
</form>
