@use '../../../../../styles/mixins' as *;

.personal-preview {
  margin-bottom: 32px;
  padding: 20px;
  border-radius: 20px;
  transition: box-shadow 0.25s ease;
}

.personal-form {
  padding: 24px;
}

.form-grid {
  @include flex($direction: column);
  gap: 16px;
}

.fade-wrapper {
  position: relative;
}

/* контент */
.fade-in {
  animation: fadeSlideIn 0.45s ease-out both;
}

/* keyframes */
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* skeleton */
.crossfade-container {
  position: relative;
  min-height: 180px;
}

.skeleton-layer {
  position: absolute;
  inset: 0;

  transition: opacity 0.35s ease;
  opacity: 1;
}

.skeleton-layer.hidden {
  opacity: 0;
  pointer-events: none;
}

/* content */
.content-layer {
  position: relative;
  animation: contentFadeIn 0.45s ease-out both;
}

@keyframes contentFadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
    filter: blur(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
