@let personal = data();

@if (personal && personal.length > 0) {
  @for (person of personal; track person?.id) {
    @if (person) {
      <div class="personal">
        <h1 class="personal__full-name">{{ person.firstName }} {{ person.lastName }}</h1>
      </div>
      <div class="contact">
        <span class="contact__email">
          <mat-icon fontIcon="mail" />
          {{ person.email }}</span
        >
        @if (person.phone) {
          <span class="contact__phone">
            <mat-icon fontIcon="call" />
            {{ person.phone }}</span
          >
        }
        @if (person.location) {
          <span class="contact__location">
            <mat-icon fontIcon="location_on" />
            {{ person.location }}</span
          >
        }
      </div>
    }
  }
} @else {
  <p>This block is not available yet</p>
}
