@let rows = rows$ | async;
<h3>{{ 'MAIN.RESUMES' | translate }}</h3>
<cdk-virtual-scroll-viewport class="cv-container" [itemSize]="rowHeight">
  @if (rows && rows.length) {
    <ng-container *cdkVirtualFor="let row of rows; trackBy: trackByRow">
      <div class="cvs-row">
        @for (cv of row; track cv.id) {
          @if (!isCV(cv)) {
            <app-add-cv-card />
          } @else {
            <app-cv-card [cv]="cv" (download)="downloadCv($event)" />
          }
        }
      </div>
    </ng-container>
  } @else {
    <div class="skeleton-layer">
      <app-add-cv-card />
      <ngx-skeleton-loader
        count="3"
        appearance="square"
        [theme]="{ width: '290px', height: '365px', 'border-radius': '16px' }"
      />
    </div>
  }
</cdk-virtual-scroll-viewport>
