@use '../../../../styles/mixins' as mixins;

:host {
  @include mixins.flex($direction: column, $align: flex-start, $justify: flex-start);
  overflow: hidden;
}

.cv-container {
  @include mixins.flex($justify: flex-start, $wrap: wrap, $gap: 25px);
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cv-container::-webkit-scrollbar {
  display: none;
}
