@use '../../../../../styles/mixins' as mixins;
:host {
  width: 100%;
  @include mixins.flex($direction: column, $align: center, $gap: 10px);
}
h3 {
  color: var(--mat-sys-primary);
  text-align: center;
}
p {
  text-align: justify;
}
hr {
  width: 50%;
}
