:host {
  ::ng-deep .mat-mdc-tab.mdc-tab--active {
    color: var(--mat-sys-on-surface);
  }

  ::ng-deep .mdc-tab-indicator__content--underline {
    border-color: var(--mat-sys-on-surface);
    border-radius: 8px;
    background-color: #eb1414;
  }
}
