@use '@angular/material' as mat;
@use './styles/_mixins' as *;

:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

  &.dark {
    @include apply-dark-theme;
  }
  &.light {
    @include apply-light-theme;
  }
}

.center {
  text-align: center;
}
.content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}
.form {
  @include flex($direction: column);
}

@media print {
  body * {
    visibility: hidden;
  }
  app-header,
  app-footer,
  app-profile-tabs {
    display: none !important;
  }
  app-preview {
    width: 100% !important;
  }
  .print-container,
  .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10mm;
  }
}
.success-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-on-primary-container),
      supporting-text-color: var(--mat-sys-background),
      container-shape: 3rem,
    )
  );
  .mdc-snackbar__label {
    text-align: center;
    width: 100%;
  }
}

.error-snackbar {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--mat-sys-on-error-container),
      container-color: var(--mat-sys-error-container),
      supporting-text-color: var(--mat-sys-on-error-container),
      container-shape: 3rem,
    )
  );
}
