@use '@angular/material' as mat;
@use './styles/_mixins' as *;

:root {
  font-size: 16px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

  &.dark {
    @include apply-dark-theme;
  }
  &.light {
    @include apply-light-theme;
  }
}

.center {
  text-align: center;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
