<main class="content">
  <h1>Welcome to our App.</h1>
  <p>Please sign-in or sign-up to start using our App.</p>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field appearance="outline" class="d-block">
      <mat-label>Email/Username</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="d-block">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>

    @if (errorMessage()) {
      <div class="info">
        <mat-icon fontIcon="info" />
        {{ errorMessage() }}
      </div>
    }

    @if (isSubmissionInProgress()) {
      <div class="info">
        <mat-spinner [diameter]="22" />
        Signing-in...
      </div>
    }
    <button type="submit" matButton="filled" aria-label="Sign-In">Sign-In</button>
  </form>

  <button matButton="filled" aria-label="Sign-In with Google" (click)="onSignInWithGoogle()">
    Sign-In with Google
  </button>
  <p>You don't have an account</p>
  <button matButton="tonal" aria-label="Sign-Up" [routerLink]="['/auth/sign-up']">Sign-Up</button>
  <a matButton="text" [routerLink]="['/auth/forgot-password']">Forgot Password</a>
</main>
