@use '../../../styles/mixins' as mixins;

:host {
  height: fit-content;
}

.add-cv {
  @include mixins.flex($direction: column, $gap: 1rem);
  padding: 1.5rem;
  border: 2px #e2e8f0 dashed;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  min-height: 305px;
  width: 290px;
  transition: all 0.5s ease;

  &__icon_wrapper {
    @include mixins.flex();
    width: 4rem;
    height: 4rem;
    color: var(--mat-sys-primary);
    border-radius: 50%;
    background-color: rgba(0, 106, 106, 0.05);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: transform 0.5s ease;
  }

  &__text {
    .title {
      font-weight: 600;
      font-size: 1.25rem;
      transition: color 0.5s ease;
    }

    .description {
      color: #212529bf;
    }
  }

  &:hover {
    border-color: var(--mat-sys-primary);
    background: rgba(0, 106, 106, 0.05);

    .add-cv__icon_wrapper {
      transform: scale(1.1);
    }

    .title {
      color: var(--mat-sys-primary);
    }
  }
}
