@let profileData = profile();
@if (profileData) {
  <mat-card appearance="outlined">
    <mat-card-header class="p-4 align-items-center gap-3">
      <div
        class="d-flex align-items-center justify-content-center border rounded-3 avatar-50 flex-shrink-0"
      >
        @if (profileData.photoURL) {
          <img
            class="img-fluid rounded-3"
            mat-card-md-image
            [src]="profileData.photoURL"
            [alt]="profileData.displayName"
          />
        } @else {
          <div class="avatar-50 d-flex align-items-center justify-content-center">
            <mat-icon class="icon-fill" fontIcon="person" />
          </div>
        }
      </div>
      <div class="flex-grow-1">
        <mat-card-title class="text-secondary"
          >Welcome, {{ profileData.displayName ?? 'Username' }}</mat-card-title
        >
        <mat-card-subtitle>{{ profileData.email }}</mat-card-subtitle>
      </div>
      <mat-card-actions>
        <button matButton="filled">Sign-out</button>
      </mat-card-actions>
    </mat-card-header>
  </mat-card>
} @else {
  <mat-spinner />
}
