<main class="content">
  <h1>Welcome to our App.</h1>
  <p>Please enter you Email/Username to reset the password.</p>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email/Username</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    @if (isSubmissionInProgress()) {
      <div class="info">
        <mat-spinner [diameter]="22" />
        Signing-in...
      </div>
    }

    @if (errorMessage()) {
      <p class="info">
        {{ errorMessage() }}
      </p>
    }

    @if (isPasswordResetEmailSent()) {
      <p class="info">
        The reset link is sent to your email, please use the link to reset your password.
      </p>
    }
    <button type="submit" matButton="filled" aria-label="Reset Password">Reset Password</button>
  </form>
  <p>Sign-in instead?</p>
  <button matButton="tonal" aria-label="Sign-In" [routerLink]="['/auth/sign-in']">Sign-In</button>
</main>
