<div class="d-flex justify-content-center">
  <div class="text-center mt-5 pt-5">
    <h1>Welcome to our App.</h1>
    <p>Please enter you Email/Username to reset the password.</p>
    <form [formGroup]="form" (submit)="onSubmit()">
      <mat-form-field appearance="outline" class="d-block">
        <mat-label>Email/Username</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <!-- *Progress spinner -->
      @if (isSubmissionInProgress()) {
        <div class="d-flex align-items-center">
          <mat-spinner [diameter]="22" />
          Signing-in...
        </div>
      }

      <!-- * Error message -->
      @if (errorMessage()) {
        <p class="alert alert-danger p-2">
          {{ errorMessage() }}
        </p>
      }

      <!-- * Reset message -->
      @if (isPasswordResetEmailSent()) {
        <p class="alert alert-success p-2">
          The reset link is sent to your email, please use the link to reset your password.
        </p>
      }
      <button type="submit" matButton="tonal" class="d-block mb-1 auth-button">
        Reset Password
      </button>
    </form>
    <p>Sign-in instead?</p>
    <button matButton="filled" [routerLink]="['/auth/sign-in']" class="d-block auth-button">
      Sign-In
    </button>
  </div>
</div>
